# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (you don't want huge CSVs in Git)
*.csv
*.tsv
*.data

# Model files
*.pkl
*.joblib
*.h5
*.sav

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

